.row {
  text-align: center;
}

.jumbotron {
  text-align: center;
  color: goldenrod;
}

.player1-buttons {
  display: none;

}

.player2-buttons {
  display: none;
}

#icon1 {
  width: 50%;
  border-radius: 25px;
}

#icon2 {
  width: 50%;
}

h1 {
  font-family: courier;
  font-weight: bold;
}

h2 {
  font-family: courier;
  font-weight: bold;
}

h3 {
  font-family: courier;
  font-weight: bold;
}

#playButton {
  border-color: pink;
  border-width: 3px;
  margin: 20px;
  padding: 5px;
  background-color: skyblue;
  color: rgb(31, 26, 104);
  font-weight: bold;
  font-family: courier;
}

#player1-roll {
  margin: 10px;
}

#player2-roll {
  margin: 10px;
}